body{
  
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: url("images/F5.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto; 
  background-position: 0px 80px;
  
} 

.banner {
    background-color: purple;
    background-image: url(images/texture.jpg);
    
    color: white;   
    text-shadow: 2px 2px 4px #000000;
    
    margin-top: 1px;
    margin-bottom: 0px;
}

#logo {
  padding-top: 0px;
  width: 10%; height: 10%;
  margin: 10px;
  
}
header{
  text-align: center;
  background-color: indigo;
  color: white;
  padding-bottom: 20px;
}
#title{
  display:inline;
  font-size: 40px;

}

#links li{
  display: inline;
  padding: 15px;
  border-right: 2px solid white;
}

#links li:hover{
  background-color: white;
}
#links a{
  color: black;
  text-decoration: note;
  }

nav{
  background-color:lightskyblue;
  border-top: 2px solid black;
  border-bottom: 2px solid black;

} 

section{
  padding:20px;
  
}
table, th,td,caption{
  border-collapse: collapse;
  border: 2px solid black;
  padding: 30px;
  text-shadow: 2px 2px 4px #000000;
}
th{
  background-color: rgb(151, 92, 206);
  color: white;

}
caption{
  font-size: 20px;
  background-color: rgb(24, 83, 209);
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
td{
  text-align: center;
}

.facultyImg{
  width: 50%;
  height: 50%;
  border: 1px solid purple;
  border-radius: 10px;
}

img {
  width: 100%;
  height: auto;
}  
img:hover{
  transform:scale(1.2);
}

dd{
  padding-bottom: 20px;
}


.carousel-caption {
    text-shadow: 2px 2px 4px #000000;
}

.col img {
    width: 200px;
    height: 200px;
}

.footer {
    background-color: black;
    color: white;
    margin: 0;
    
}
footer{
  text-align: center;
  height: 25px;
}

.col {
    margin: 20px;
}

table,th,td{
  color: white;

}
 h3{
   color: white;
 }
 p,h1,dd,dt{
   color:white;
   text-shadow: 4px 2px 10px #000000;
   text-align: center;
 }
